## .NET Build Outputs
bin/
obj/
[Bb]in/
[Oo]bj/

## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

## Visual Studio Code
.vscode/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet Packages
*.nupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets

## .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

## Rider
.idea/
*.sln.iml

## macOS
.DS_Store

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini

